<!-- src/app/register/register.component.html -->
<div class="form-container">
  <form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">
    <h2 align="center">Registration Form</h2>
    <table align="center">
      <tbody>
        <tr>
          <td>Enter UserName</td>
          <td><input type="text" name="userName" ngModel/></td>
        </tr>
        <tr>
          <td>Select Country</td>
          <td>
            <select name="country" ngModel>
              <option value="" selected>Select Country</option>
              <option *ngFor="let country of countries" [value]="country.cca3">
                {{ country.name.common }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Enter EmailId</td>
          <td><input type="text" name="emailId" ngModel/></td>
        </tr>
        <tr>
          <td>Enter Password</td>
          <td><input type="password" name="password" ngModel /></td>
        </tr>
        <tr>
          <td>Enter Phone Number</td>
          <td><input type="text" name="phoneNumber" ngModel /></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btn btn-primary">Register</button>
            Already User? <a routerLink="/login">SignIn</a>
          </td>
        </tr>
      </tbody>
    </table>   
  </form>
</div>